.contact-process .btn{
    margin-right: 10px;
    margin-left: 10px;
}

.contact-infos{
    font-size: 20px;
    font-weight: 500;
}

.contact-infos p{
    margin-right: 25px;
    margin-left: 25px;
}